# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg

# Virtual environment
.venv/

# Django
*.log
local_settings.py
media/
/staticfiles/

# Deno output
static/js/
*.min.css

# dotenv
*.env

# Docker
docker-compose.yml

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Claude
.claude/
