asgiref==3.3.1
attrs==20.3.0
Django==3.1.4
django-webpack-loader==0.7.0
factory-boy==3.1.0
Faker==5.0.1
packaging==20.7
psycopg2-binary==2.8.6
pytest==6.1.2
pytest-django==4.1.0
python-dotenv==0.15.0
pytz==2020.4
sqlparse==0.4.1
