@import './variables.sass'

html,
body
  height: 100%

body
  margin: 0
  background: #fff
  font-family: $bodyFontFamily
  font-size: $bodyFontSize
  line-height: $bodyLineHeight

h1
  margin: 0 0 30px
  padding: 0 30px
  font-size: $headingFontSize

p
  margin: 0 0 20px
  padding: 0 30px

main
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto
  max-width: 500px
  height: 100%
