$color-black-10: rgba(0, 0, 0, .1)
$color-black: #000
$color-white: #fff
$font-family-body: 'Helvetica Neue', Helvetica, Arial
$font-size-body: 16px
$font-size-heading: 26px
$font-size-menu: 20px
$font-weight-heavy: 600
$font-weight-normal: 400
$line-height-body: 1.25
$media-desktop-breakpoint: 813px
$media-mobile-breakpoint: 812px
$transition-duration-long: .6s
$transition-duration-short: .3s
