{% load zenofewords_tags %}


<div class="content-block">
  {% jump_to_link_tag 'link-to-top' 'Jump to top' %}
  <h3>
    {% external_link_tag 'https://shop.thebrushstash.com/' 'The Brush Stash' ',' %} a webshop for luxury makeup brushes
  </h3>
  <p>
    Considering I had no experience in e-commerce this project was a great learning opportunity as well as a challenge.
    I was responsible for the frontend and backend while also figuring out payment gateway integration.
  </p>
  <p>
    My goal was to build a webshop from scratch because I "had to" know how it all works under the hood. I also wanted
    the site to be fast so I relied on Lighthouse a lot. This is why I started using WebP, the picture tag and source
    sets. The worst case used to score in the mid 90s, but dropped slightly after the recent update which made audits
    more strict. But that's just new room for improvement!
  </p>
  <p>
    Additionally, the client needed basic user, newsletter, and inventory management, promo codes, product reviews,
    multicurrency, dual language support, and more. I'll admit it was a bumpy ride as the deadline approached, but
    it all came together in the end and the shop has been operating happily ever since.
  </p>
</div>
