{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}Dominik Zen{% endblock title %}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="apple-touch-icon" type="image/png" sizes="150x150" href="{% static 'favicon/150x150.png' %}"/>
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/32x32.png' %}" />

      {% block meta_tags %}
        <meta name="title" content="{{ meta_title }}" />
        <meta name="author" content="{{ meta_author }}" />
        <meta name="description" content="{{ meta_description }}" />

        <meta property="og:url" content="{{ meta_url }}/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ meta_title }}" />
        <meta property="og:description" content="{{ meta_description }}" />

        <meta property="og:image" content="{{ meta_url }}{% static 'images/meta3.jpg' %}" />
        <meta property="og:image:alt" content="{{ meta_image_alt }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:image" content="{{ meta_url }}{% static 'images/meta3.jpg' %}" />
        <meta name="twitter:image:alt" content="{{ meta_image_alt }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ meta_description }}" />
      {% endblock meta_tags %}
    {% endblock head %}

    {% block scripts %}
      {% render_bundle 'base' 'css' %}
    {% endblock scripts %}
  </head>

  <body>
    <header>
      {% block header %}
        <nav>
          <div class="mobile-menu">
            <label for="mobile-menu-toggle" class="screen-reader">
              Menu toggle
            </label>
            <input id="mobile-menu-toggle" class="mobile-menu-toggle" type="checkbox" />
            <span class="mobile-menu-line"></span>
            <span class="mobile-menu-line"></span>
            <span class="mobile-menu-line"></span>

            <ul style="top: -100%;" class="mobile-menu-list">
              <li>
                <a href="{% url 'personal' %}">Personal</a>
              </li>
              <li>
                <a href="#">Professional</a>
              </li>
              <li>
                <a href="#">Ramblings</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>

          {% block desktop_nav %}
          <div class="desktop-menu">
            <a href="{% url 'personal' %}" class="desktop-menu-link desktop-menu-link-top-left" aria-label="Personal">
            </a>
            <a href="#" class="desktop-menu-link desktop-menu-link-top-right" aria-label="Professional">
            </a>
            <a href="#" class="desktop-menu-link desktop-menu-link-bottom-left" aria-label="Ramblings">
            </a>
            <a href="#" class="desktop-menu-link desktop-menu-link-bottom-right" aria-label="Contac">
            </a>
          </div>
          {% endblock desktop_nav %}
        </nav>
      {% endblock header %}
    </header>

    <main>
      {% block content %}
        <div class="homepage-wrapper">
          <div class="homepage-intro">
            <h1>Greetings traveller, you've stumbled upon the virtual abode of Dominik Zen</h1>

            <p>If curiosity got the best of you, <a href="#">stay awhile and listen</a>. Or visit <a href="#">my linkedin profile</a> if you're feeling all serious and "businessy".</p>

            <p>Looking for Pokemon GO stuff? It's been <a href="https://pgo.dominikzen.com/">moved here</a>.</p>
          </div>
        </div>
      {% endblock content %}
    </main>

    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>

    {% block body_scripts %}
      {% render_bundle 'homepage' 'css' %}
    {% endblock body_scripts %}
  </body>
</html>
