{% load static %}
{% load zenofewords_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}Dominik Zen - software engineer{% endblock title %}
      </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="theme-color" content="#db372b">

      {% block meta_tags %}
        <meta name="title" content="{{ meta_title }}" />
        <meta name="author" content="{{ meta_author }}" />
        <meta name="description" content="{{ meta_description }}" />

        <meta property="og:url" content="{{ meta_url }}/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ meta_title }}" />
        <meta property="og:description" content="{{ meta_description }}" />

        <meta property="og:image" content="{{ meta_url }}{% static 'images/meta.png' %}" />
        <meta property="og:image:alt" content="{{ meta_image_alt }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:image" content="{{ meta_url }}{% static 'images/meta.png' %}" />
        <meta name="twitter:image:alt" content="{{ meta_image_alt }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{ meta_description }}" />
      {% endblock meta_tags %}
    {% endblock head %}

    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  </head>

  <body>
    <header>
      {% block header %}
      {% endblock header %}
    </header>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    {% block body_scripts %}
    {% endblock body_scripts %}
  </body>
</html>
