{% extends 'zenofewords/pages.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}
  {{ block.super }} - Bio
{% endblock title %}

{% block pages_title %}
  I’m a sentient flesh bag cultivated in Croatia
{% endblock pages_title %}

{% block pages_content %}
  <p>
    If you came here looking for seriousness, you're at the wrong page, pal.
    Try <a href="{% url 'work' %}">work</a> instead.
  </p>
  <p>
    What you will find is a summary of me, sprinkled with a pinch of daft tidbits.
  </p>
  <h2>
    The early days
  </h2>
  <p>
    Since I was a small fry I knew exactly what I wanted to do when I grew up. As someone who excelled at natural and human
    sciences, absolutely dominated every sport I ever picked up and had written my first program when I was only 5, on a bamboo tapestry,
    it was only natural I wound up in the tech industry.
  </p>
  <p>
    Yeah... no. I pretty much sucked at everything. I was the goofy kid that liked to play a lot and had a tough time paying attention in
    class. It was mostly trials and tribulations, but I eventually emerged as a software developer.
  </p>
  <h2>
    Never enough time
  </h2>
  <p>
    If I'm not sitting in front of a screen, you can find me playing board games, hiking, sometimes even cycling or running. It's just that I
    find brightly lit screens so appealing! There are countless worlds in there and for me, it was gaming. Still is, though not nearly as much
    as it used to be.
  </p>
  <p>
    RPGs were always my favorite, but there's a plethora of genres and titles which went through my hands. The Elder Scrolls
    certainly left a mark and my childhood would've been incomplete without Heroes of Might and Magic. Some games stuck around for
    decades though. If you look closely you can see a burnt-in image of the Diablo II interface in my eyes. That's owing to being hell-bent
    on an exceptionally difficult <a href="{% url 'bio' %}#nonsensical-accomplishments">self imposed goal</a>.
  </p>
  <p>
    Besides games, I love sci-fi and fantasy. Have you seen Dark? Occasionally I'll dip into anime or manga, like Berserk and Attack on Titan.
    Moreover, my life would be vapid without heavy metal. From classic heavy, over thrash and death, and all the way to folk or black.
  </p>
  <h2 id="nonsensical-accomplishments">
    Nonsensical accomplishments
  </h2>
  <p>
    A long time ago I set out to complete the set and unique item collection in Diablo II. The feat is not monumental only because there
    are 504, but because many of those are exceedingly hard to find. One item in particular, Tyrael's Might, can only be found in a few
    areas and from specific monsters. The odds? About 1:1068141.
  </p>
  <p>
    Though there are items which will increase the player's odds of finding "magic" items, which includes sets and uniques, this attribute
    has diminishing returns and stacking it too high will gimp your character. Even with 500 "magic find" and 45 second dungeon clears with
    6 eligible monsters, you'd still need 836 hours (on average) to find TM.
  </p>
  <p>
    Since 2016, I've become quite efficient in my hunt. Theorycrafting extensively, optimizing my sorceress, researching map generation
    and density distribution to figure out the best possible layout and route just to shave off a few hours from the grind. At long last,
    in the summer of 2019, I retrieved Tyrael's Might during an item find contest hosted annually by members of the Diablo forums. The
    realization of this decade old pursuit was absolute bliss.
  </p>
  <p>
    <!--Behold mortal, the true answer to every question.-->
  </p>
  <p>
    I also got hooked on Pokémon GO. Alas, the lack of depth, rampant cheating, and the fact that the developer wanted to dictate
    when and where I'm supposed to play turned me away for good. But not before I reached the maximum level...
  </p>
  <p>
    However, the best thing about GO is that I created the <a href="{% url 'work' %}#breakpoint-calculator">Breakpoint Calculator</a>,
    which became a popular tool within the global community. It's used to crunch math and data to help you save in-game resources and when
    it comes to games with microtransactions, it can also mean saving money.
  </p>
  <p>
    I wish you good RNG, friend!
  </p>
{% endblock pages_content %}
