{% extends 'zenofewords/pages.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}
  {{ block.super }} - Bio
{% endblock title %}

{% block pages_title %}
  I’m a sentient flesh bag cultivated in Croatia
{% endblock pages_title %}

{% block pages_content %}
  <h2>
    The early days
  </h2>
  <p>
    Since I was a small fry I knew exactly what I wanted to do when I grow up. As someone who excelled at natural and human
    sciences, absolutely dominated every sport I ever picked up and had written my first program when I was only 5, on a bamboo tapestry...
  </p>
  <p>
    Yeah, no. I pretty much sucked at everything. I was the goofy kid who liked to play and had a tough time paying attention in
    class. STEM only piqued my interest after I finished high school. It was mostly trials and tribulations since then, but I eventually
    emerged as a software developer.
  </p>
  <h2>
    Never enough time
  </h2>
  <p>
    To finish this section.
  </p>
{% endblock pages_content %}
