{% extends 'zenofewords/pages.html' %}
{% load render_bundle from webpack_loader %}
{% load zenofewords_tags %}


{% block title %}
  {{ block.super }} - Contact
{% endblock title %}

{% block pages_title %}
  When you need to get a message through
{% endblock pages_title %}

{% block pages_content %}
  <p>
    Event though I can be found on several social networks, I'd prefer all professional inquiries to {% external_link_tag 'https://www.linkedin.com/in/zenofewords/' 'go through LinkedIn' '.' %}
  </p>
  <p>
    Here's my {% external_link_tag 'https://github.com/zenofewords?tab=repositories' 'stuff on Github' '.' %}
  </p>
{% endblock pages_content %}
