{% extends 'zenofewords/base.html' %}
{% load render_bundle from webpack_loader %}
{% load zenofewords_tags %}

{% block title %}
  {{ block.super }} - Home
{% endblock title %}

{% block scripts %}
  {% render_bundle 'home' 'css' %}
{% endblock scripts %}

{% block header %}
  {{ block.super }}
  <div class="desktop-menu">
    <a href="{% url 'bio' %}" class="desktop-menu-link desktop-menu-link-top-left" aria-label="Bio"></a>
    <a href="{% url 'work' %}" class="desktop-menu-link desktop-menu-link-top-right" aria-label="Work"></a>
    <a href="{% url 'thoughts' %}" class="desktop-menu-link desktop-menu-link-bottom-left" aria-label="Thoughts"></a>
    <a href="{% url 'contact' %}" class="desktop-menu-link desktop-menu-link-bottom-right" aria-label="Contact"></a>
  </div>
{% endblock header %}

{% block content %}
  <div class="home-wrapper">
    <div class="home-intro">
      <h1>Greetings traveller, you've stumbled upon the virtual abode of Dominik Zen</h1>
      <p>
        A <a href="{% url 'work' %}">software developer</a>, an intermittent gamer, geek, also a human.
      </p>
      <p>
        Hither is a place under permanent construction, subject to the whims of its creator.
        It's where I keep <a href="{% url 'thoughts' %}">my thoughts</a> and experiment with web technology.
      </p>
    </div>
  </div>
{% endblock content %}
