{% extends 'zenofewords/base.html' %}
{% load zenofewords_tags %}

{% block title %}
  {{ block.super }} - Home
{% endblock title %}

{% block content %}
  <div class="home-wrapper">
    <div class="home-intro">
      <h1>Greetings traveller, you've stumbled upon the virtual abode of Dominik Zen</h1>
      <p>
        A software engineer, an intermittent gamer, full-time geek.
      </p>
      <p>
        I help small and medium sized clients build and utilise their digital infrastructure to grow their business. If you need a software solution, feel free to {% external_link_tag 'https://www.linkedin.com/in/zenofewords/' 'contact me on LinkedIn' '.' %}
      </p>
    </div>
  </div>
{% endblock content %}
