{% extends 'zenofewords/base.html' %}
{% load render_bundle from webpack_loader %}


{% block scripts %}
  {{ block.super }}
  {% render_bundle 'pages' 'css' %}
{% endblock scripts %}

{% block content %}
  <div class="pages-wrapper">
    <div class="pages-header-wrapper">
      <a href="{% url 'home' %}" class="link-back">Home</a>
      <h1>
        {% block pages_title %}
        {% endblock pages_title %}
      </h1>
    </div>
    <div class="pages-content-wrapper">
      {% block pages_content %}
        Nothin' here yet.
      {% endblock pages_content %}
    </div>
  </div>
{% endblock content %}
