{% extends 'zenofewords/pages.html' %}
{% load render_bundle from webpack_loader %}
{% load zenofewords_tags %}


{% block title %}
  {{ block.super }} - Work
{% endblock title %}

{% block pages_title %}
  I've been a software developer since 2014
{% endblock pages_title %}

{% block pages_content %}
  <p>
    Though I started off as a backend developer I quickly got interested in frontend as well, and specifically
    in performance optimization. I'm a firm believer that web page speed is a critical component in driving and
    maintaining user engagement with an obvious impact on product success.
  </p>

  <h2>
    2019 - present, full stack freelance developer
  </h2>

  <h2>
    2014 - 2019, backend / frontend developer
  </h2>

  <div class="content-block">
    The work section needs a rework ¯\_(ツ)_/¯
  </div>
{% endblock pages_content %}
